<H2 class="mt-5">Optimize Your Equity Allocation by Owning a Piece of the Middle</H2>


<form>
  <div class="form-group mt-5">
    <label class="label" for="formControlRange">Use the slider below to find out what the impact of increasing the mid cap allocation in your equity portfolio would be.</label>
    <input type="range" min="0" max="20"  class="form-control-range" id="formControlRange">
  </div>
</form>
<div>
  <p id="value" >10</p>
</div>

<canvas id="myChart" width="960" height="200"></canvas>
<canvas id="lineChart" width="960" height="200"></canvas>

<script>
  const range = document.getElementById('formControlRange')
  const value = document.getElementById('value')
  range.addEventListener('change', (e) => {
  value.innerHTML = range.value

  chartBar(parseInt(range.value, 10))
  lineChart(parseInt(range.value, 10))
})
  const chartBar = (val) => {
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['1996', '2008', '2020'],
    datasets: [{
      label: '# of Dollars($)',
      data: [val, val + 2, val + 4 ],
      backgroundColor: ['rgba(50, 221, 255, 1)', 'rgba(242, 214, 71, 1)', 'rgba(45, 140, 155, 1)'],
      borderColor: ['rgba(50, 221, 255, 1)', 'rgba(242, 214, 71, 1)', 'rgba(45, 140, 155, 1)'],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true,
          max: 20
        }
      }]
    }
  }
});
}
const lineChart = (val) => {
  var ctx = document.getElementById('lineChart');
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ['1996', '2008', '2020'],
    datasets: [{
      label: '# of Dollars($)',
      data: [val, val + 2, val + 4 ],
      backgroundColor: ['rgba(50, 221, 255, 1)', 'rgba(242, 214, 71, 1)', 'rgba(45, 140, 155, 1)'],
      borderColor: ['rgba(50, 221, 255, 1)', 'rgba(242, 214, 71, 1)', 'rgba(45, 140, 155, 1)'],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true,
          max: 20
        }
      }]
    }
  }
});
}
</script>




