.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.container {
  background-color: black;
}

h2 {
line-height: 42px;
text-align: left;
font-size: 35px;
font-family: "Work Sans";
font-weight: bold;
letter-spacing: 0;
width: 594px;
height: 70px;
color: #FFFFFF;
}

.label {
  height: 50px;
  width: 614px;
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25px;
  color: #FFFFFF;
}

p {
  padding-top: 10px;
  color: #32DDFF;
}


.form-group {
   height: 50px;
  width: 614px;
  font-family: "Founders Grotesk";
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25px;
}


